.content-emp {
  .main-table {
    table {
      background-color: #F2F7FD;
      // thead {}
      tbody {
        tr:nth-child(odd) {
          background-color: #E9E9E9;
          &:hover {
            background-color: #E9E9E9 !important;
          }
        }
        tr {
          &:hover {
            background-color: transparent !important;
          }
        }
      }
    }
  }
  .v-input__icon--prepend {
    i.notranslate {
      color: #000 !important;
    }
  }
}


.active {
  display: flex !important;
}

.active2 {
  display: none !important;
}

.dig {
  z-index: 10000;
  // height: 1500px;
  // overflow-y: auto;
  // position: relative;
}